@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  color: black;
  background-color: white;
}

.thumbnail {
  border-radius: 50%;
}

.image-gallery-content .image-gallery-thumbnail-inner img {
  height: 80px;
  width: auto;
}

.image-gallery-content .image-gallery-thumbnail {
  width: auto;
}

.image-gallery-content:not(.fullscreen) .image-gallery-slide img {
  width: auto;
  height: 500px;
}

.image-gallery-slide img {
  height: 100vh;
  width: auto;
  cursor: cell;
}

.questionEntry {
  border: solid 5px pink;
}

.reviews-list {
  height: 90vh;
  overflow: auto;
}

.main-review-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.reviews-stars-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.review-star-username-date {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.review-summary-body {
  display: flex;
  align-content: flex-start;
  justify-content: left;
  flex-wrap: wrap;
  text-align: left;
}
.review-body {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: left;
  text-align: left;
}
.body-response {
  padding-left: 20px;
}
.showmoreButton {
  width: 50px;
}
